body { background-color: #0C0C0C; color: #CCCCCC; margin-left: auto; margin-right: auto; max-width: 1000px; margin-top: 50px; margin-bottom: 50px; text-align: justify; padding: 10px; border: 3px; border-style: groove; }

h1 { margin: 0 }
